<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common_head :: common_head(~{::title},~{},~{})">
    <title>标本信息查询</title>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{/content/plugins/ueditor/themes/default/css/ueditor.css}">-->
</head>

<body class="no-skin">
<!-- #section:basics/navbar.layout -->
<div th:replace="common/common_body :: navbar"></div>
<!-- /.navbar -->
<div th:replace="common/common_body :: main_container(~{::.breadcrumb},~{::#rp})">
    <!--replace breadcrumb-->
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">主页</a>
        </li>
        <li class="active">标本信息查询</li>
    </ul>
    <!--replace page content-->
    <div class="col-xs-12" id="rp">
        <!-- PAGE CONTENT BEGINS -->
        <div class="col-sm-12">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" onclick="search()">
                    <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>查询
                </button>
                <button type="button" class="btn btn-success btn-sm" onclick="search()">
                    <i class="ace-icon fa fa-pencil-square icon-on-right bigger-110"></i>修改
                </button>
            </div>
        </div>
        <div class="col-xs-3 leftContent no-padding-right">
            <table id="customerList"></table>
            <div id="customerListPager"></div>
        </div>
        <div class="col-xs-9 midContent">
            <table id="testList"></table>
            <div id="testListPager"></div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>

</div>
<!-- /.main_container -->
<!-- /section:basics/navbar.layout -->

<!-- basic scripts -->
<div th:replace="common/common_body :: foot"></div>
<script type="text/javascript">
    ace.vars['base'] = '..';
    function search() {
        var query = $('#query').val() || '';
        jQuery("#customerList").jqGrid('setGridParam', {
            url: "/customerManager/getCustomerList",
            datatype: 'json',
            //发送数据
            postData: {"query": query},
        }).trigger('reloadGrid');//重新载入
    }

    $(function () {
        //页面加载完成之后执行
        pageInit();
    });

    function pageInit() {
        //创建jqGrid组件
        jQuery("#customerList").jqGrid({
            caption: "标本详情", //表格的标题名字
            width:$('#rp').width(),
            height: 600,
            url: '/sampleInfoManager/sampleInfoQuery/getSampleSendDatas', //组件创建完成之后请求数据的url
            datatype: "json", //请求数据返回的类型。可选json,xml,txt
            colNames: ['分类', '标识号', '客户条码号', '样本类型', '检验目的名称', '检验目的编号', '病人姓名', '病人唯一号','申请科室','门诊住院号','病床号', '年龄', '出生年月', '性别', '急诊标识', '开单医生', '医组编号', '打印时间', '录入时间', '出报告时间', '采样人', '采样时间'],
            colModel: [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
                {
                    name: '', index: '', width: 100, attr: {title: 'statusValue'}, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.state == 0) {
                            return "<span class='badge badge-success'>已录入</span>"
                        } else if (rowObject.state == 1) {
                            return "<span class='badge badge-warning'>实验室已接收</span>"
                        } else if (rowObject.state == 2) {
                            return "<span class='badge badge-info'>已送出</span>"
                        } else if (rowObject.state == 3) {
                            return "<span class='badge badge-inverse'>LIS已接收</span>"
                        } else if (rowObject.state == 4) {
                            return "<span class='badge badge-pink'>已有结果</span>"
                        } else if (rowObject.state == 5) {
                            return "<span class='badge badge-primary'>超时未出结果</span>"
                        }
                    }
                },
                {name: 'barcode', index: 'barcode', align: 'center', width: 100},
                {name: 'customerBarcode', index: 'customerBarcode', align: 'center', width: 100},
                {name: 'sampleType', index: 'sampleType', align: 'center', width: 50},
                {name: 'testPurposeId', index: 'testPurposeId', align: 'center', width: 50},
                {name: 'testPurposeName', index: 'testPurposeName', align: 'center', width: 150},
                {name: 'patientName', index: 'patientName', align: 'center', width: 60},
                {name: 'patientId', index: 'patientId', align: 'center', width: 100},
                {name: 'clinicalDepartName', index: 'clinicalDepartName', align: 'center', width: 100},
                {name: 'patientCode', index: 'patientCode', align: 'center', width: 100},
                {name: 'bedNo', index: 'bedNo', align: 'center', width: 100},
                {name: 'age', index: 'age', align: 'center', width: 50},
                {name: 'birthday', index: 'birthday', align: 'center', width: 100},
                {
                    name: 'sex', index: 'sex', align: 'center', width: 40,
                    formatter: 'select',
                    editoptions: {value: "1:男;2:女;3:未知"},
                },
                {
                    name: 'emergency', index: 'emergency', align: 'center', width: 70,
                    formatter: 'select',
                    editoptions: {value: "0:平诊;1:急诊;"},
                },
                {name: 'requestDoctorName', index: 'requestDoctorName', align: 'center', width: 100},
                {name: 'digCode', index: 'digCode', align: 'center', width: 100},
                {name: 'printTime', index: 'printTime', align: 'center', width: 132},
                {name: 'inputTime', index: 'inputTime', align: 'center', width: 132},
                {name: 'checkTime', index: 'checkTime', align: 'center', width: 132},
                {name: 'executor', index: 'executor', align: 'center', width: 100},
                {name: 'executeTime', index: 'executeTime', align: 'center', width: 132},
            ],
            rowNum: 10, //一页显示多少条（这个参数被传到后台）
            rowList: [10, 20, 30], //可供用户选择一页显示多少条（覆盖rowNum参数）
            pager: '#customerListPager', //表格页脚的占位符(一般是div)的id
            sortname: 'CUSTOMER_ID', //初始化的时候排序的字段（传递到后台 sidx=sno）
            sortorder: "desc", //排序方式,可选desc,asc
            mtype: "get", //向后台请求数据的ajax的类型。可选post,get
            viewrecords: true, //总记录数
            rownumbers: true,//显示行号
            emptyrecords: "没有记录", //当返回的数据行数为0时显示的信息（viewrecords : true）
            loadComplete: function () {
                //replace icons with FontAwesome icons like above
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                    alert("sasasa")
                }, 0);
            },
        });
    }
</script>
</body>
</html>