<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common_head :: common_head(~{::title},~{},~{})">
    <title>客户检验目的设置</title>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{/content/plugins/ueditor/themes/default/css/ueditor.css}">-->
</head>

<body class="no-skin">
<!-- #section:basics/navbar.layout -->
<div th:replace="common/common_body :: navbar"></div>
<!-- /.navbar -->
<div th:replace="common/common_body :: main_container(~{::.breadcrumb},~{::#rp})">
    <!--replace breadcrumb-->
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">主页</a>
        </li>
        <li class="active">客户检验目的设置</li>
    </ul>
    <!--replace page content-->
    <div class="col-xs-12" id="rp">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="form-inline col-sm-2 ">
                     <input type="text" id="query" class="form-control search-query" placeholder="输入客户编号或名称"/>
                     <button type="button" class="btn btn-info btn-sm" onclick="search()">
                        搜索<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                     </button>
            </div>
            <div class="col-sm-8 ">
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-info btn-sm" onclick="exportexcel()">
                            导出
                            <i class="ace-icon fa fa-pencil-square bigger-110"></i>
                        </button>
                    </div>
                    <div class="form-group col-sm-6">
                        <form id="addForm" action="" method="post" enctype="multipart/form-data">
                            <div class="col-xs-12">
                                <!-- #section:custom/file-input -->
                                <div class="col-sm-12">
                                    <input type="file" id="id-input-file" name="fileinput"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="progress progress-small progress-striped active">
                        <div class="progress-bar progress-bar-warning" style="width: 10%;"></div>
                    </div>
                    <button type="button" class="btn btn-success btn-sm" onclick="importexcel()">
                        <span class="ace-icon fa fa-cloud-upload bigger-110"></span>导入
                    </button>

            </div>
        </div>
        <div class="col-xs-3 leftContent no-padding-right">
            <table id="customerList"></table>
            <div id="customerListPager"></div>
        </div>
        <div class="col-xs-9 midContent">
            <table id="testList"></table>
            <div id="testListPager"></div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>

</div>
<!-- /.main_container -->
<!-- /section:basics/navbar.layout -->

<!-- basic scripts -->
<div th:replace="common/common_body :: foot"></div>
<!-- ace settings handler -->
<script src="/assets/js/ace-extra.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script src="/js/ajaxfileupload.js"></script>
<script type="text/javascript">
    ace.vars['base'] = '..';
    function search() {
        var query = $('#query').val() || '';
        jQuery("#customerList").jqGrid('setGridParam', {
            url: "/customerManager/getCustomerList",
            datatype: 'json',
            //发送数据
            postData: {"query": query},
        }).trigger('reloadGrid');//重新载入
    }
    function exportexcel() {
        window.location.href =  "/customerManager/exportCustomerList";
    }
    function importexcel() {
        if ($("#id-input-file").val() != ""){
            uploadFile();
        }else {
            layer.alert("请选择要导入的文件！", {icon: 0, title: "提示"});
        }
    }
    // ajax + jQuery上传
    function uploadFile() {
        var xhrOnProgress = function (fun) {
            xhrOnProgress.onprogress = fun; //绑定监听
            //使用闭包实现监听绑
            return function () {
                //通过$.ajaxSettings.xhr();获得XMLHttpRequest对象
                var xhr = $.ajaxSettings.xhr();
                //判断监听函数是否为函数
                if (typeof xhrOnProgress.onprogress !== 'function')
                    return xhr;
                //如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
                if (xhrOnProgress.onprogress && xhr.upload) {
                    xhr.upload.onprogress = xhrOnProgress.onprogress;
                }
                return xhr;
            }
        }
        var formdata = new FormData($('#addForm'))//获取form表单并进行初始化
        alert("ss");
        formdata.append('file',$('#id-input-file')[0].files[0]);//
//        alert(formdata.get('file'));
//        var file = $("#id-input-file")[0].files[0];
//        var formdata = new FormData();
//        formdata.append('file', file);
        formdata.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        alert(formdata.get('csrfmiddlewaretoken'));
        $.ajax({
            type: 'POST',
            url: '/customerManager/importCustomerList',
            data:  formdata ,
            processData: false,  // 告诉jquery不转换数据
            contentType: false,  // 告诉jquery不设置内容格式
            xhr: xhrOnProgress(function (e) {
                var percent = e.loaded / e.total;
                $("#progress-bar").css("width", (percent * 500));
            }),
            success: function (arg) {
                console.log(arg);
            }
        })
    }

    $(function () {
        //页面加载完成之后执行
        pageInit();
    });

    function pageInit() {
        //创建jqGrid组件
        jQuery("#customerList").jqGrid({
            width: 270,
            height: 600,
            url: '/customerManager/getCustomerList', //组件创建完成之后请求数据的url
            datatype: "json", //请求数据返回的类型。可选json,xml,txt
            colNames: ['客户编号', '客户名称'],
            colModel: [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
                {
                    name: 'customerId',
                    index: 'CUSTOMER_ID',
                    width: 108,
                    key: true
                },
                {
                    name: 'customerName',
                    index: 'CUSTOMER_NAME',
                }
            ],
            rowNum: 10, //一页显示多少条（这个参数被传到后台）
            rowList: [10, 20, 30], //可供用户选择一页显示多少条（覆盖rowNum参数）
            pager: '#customerListPager', //表格页脚的占位符(一般是div)的id
            sortname: 'CUSTOMER_ID', //初始化的时候排序的字段（传递到后台 sidx=sno）
            sortorder: "desc", //排序方式,可选desc,asc
            mtype: "get", //向后台请求数据的ajax的类型。可选post,get
            viewrecords: true, //总记录数
            caption: "客户详情", //表格的标题名字
            //altRows: true,
            rownumbers: true,//显示行号
            emptyrecords: "没有记录", //当返回的数据行数为0时显示的信息（viewrecords : true）
            loadComplete: function () {
                //replace icons with FontAwesome icons like above
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table)
                }, 0);
            },
            onSelectRow: function (id) {
                $('#query').val("");
                var rowData = $("#customerList").getRowData(id);  //1.获取选中行的数据
                var customerId = rowData.customerId;//2.得到选中数据的某个属性
                $("#testList").jqGrid("clearGridData");
                $('#testList').jqGrid('setGridParam', {
                    url: "/customerManager/dsfTest/getTestList",
                    datatype: 'json',
                    //发送数据
                    postData: {
                        "customerId": customerId,
                        "query": "",
                    },
                }).trigger('reloadGrid');//重新载入
            },

        });
        $("#testList").jqGrid({
            datatype: "json",
            height: 600,
            altRows: true,
            rownumbers: true,//显示行号
           // shrinkToFit: false,
            regional: 'cn',
            width: $('.midContent').width(),
            colNames: ['检验目的名称', '报告单模板', '编号', '费用', '专业组', '客户编号', '是否外送'],
            colModel: [
                {name: 'testPurposeName', index: 'TEST_PURPOSENAME', sorttype: 'text', sortable: true},
                {name: 'templatetype', index: 'TEMPLATE_TYPE'},
                {name: 'testPurposeId', index: 'TEST_PURPOSEID', key: true},
                {name: 'fee', index: 'FEE', width: 100},
                {name: 'professionalGroupName', index: 'PROFESSIONAL_GROUP_NAME'},
                {name: 'customerId', index: 'CUSTOMERID'},
                {name: 'isOutGoing', index: 'ISOUTGOING'}
            ],
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                }, 0);
            },
            rowNum: 20,
            viewrecords: true,
            rowList: [20, 40, 60],
            rownumbers: true, // 显示行号
            rownumWidth: 35, // the width of the row numbers columns
            pager: "#testListPager",//分页控件的id
            caption: "检验目的详情",
        });
        function updatePagerIcons(table) {
            var replacement =
            {
                'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
            };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }
        $('#id-input-file').ace_file_input({
            no_file:'未选择文件',
            btn_choose:'选择文件',
            btn_change:'更换文件',
            droppable:true,//可拖拽上传
//            onchange:null,
//            thumbnail:true ,//| true | large
            //whitelist:'gif|png|jpg|jpeg'
            //blacklist:'exe|php'
            //onchange:''
            allowExt: ['xls','xlsx'],
        }).on('file.error.ace', function(event, info) {
            layer.alert("选择Excel格式的文件导入！", {icon: 0, title: "提示"});
        });
    }
</script>
</body>
</html>